{{- define "main" }}
<h2>Uh oh! This is what is called a 404! </h2>

<img src="/images/404.gif" alt="Error animated walking">
<img src="/images/404-gentlemen.jpg" alt="Two fancy blokes talking with each other">

Well, hello stranger! Figures, huh?

That makes me depressed too, since I have to serve them - all day and all night long.
In case you were curious, the requested document is totally fake.
No /404nf here.

<i class="fa-solid fa-microchip"></i> 

<!-- <div class="not-found">404 - Oh no</div> -->

{{- end }}{{/* end main */ -}}
